{% extends 'awareness/base.html' %}
{% load static %}
{% block content %}

<section class="hero">
  <h1 class="hero-title">Ласкаво просимо до CyberQuiz</h1>
  <div class="hero-quickstart">

    <p>
      Це тест на твою стійкість до <b>соціальної інженерії</b> — головної зброї кібершахраїв.
    </p>
    <p>
      Дізнайся, чи зможеш ти розпізнати фішингові листи, маніпуляції та інші хитрощі, які використовують для зламу людини.
    </p>
    {% if user.is_authenticated %}
    <a href="{% url 'awareness:quiz_start' %}" class="hero-button">Почати зараз</a>
{% else %}
    <a href="{% url 'awareness:signup' %}" class="hero-button">Почати зараз</a>
{% endif %}
  </div>
</section>
{% endblock %}

